/* slider.css */

.slider {
    position: relative;
    overflow: hidden;
    width: 1100px;
    margin:0 auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides li {
    flex: 0 0 calc(100% / 3); /* Adjusted for variable number of slides to show */
    list-style: none;
    border:1px red solid;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dots button {
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.dots button.active {
    background-color: #333;
}