.dummy{
	color : black;
}

.custom-dropdown 
{
	border:1px #ccc solid;
	border-radius: 10px;;
	cursor: pointer;
	position: relative;
	padding:10px;
	
}
.customcont-dropdown {
width: 70px;
margin: 0 auto;
}

.list { width: 200px;}
.list ul
{
	border:1px #ccc solid;
	cursor: pointer;
}

.list ul li { padding:10px; }
.list ul li:hover { background-color: #eee;  padding:10px; }
.custom-dropdown .arrow { position: absolute; right:6px;}
.staticval{color: #444444; padding-right: 10px;}
.optval {font-weight: bold;}
.active { background-color: skyblue;}

.M { background: blue; border-radius: 50px; padding:5px 10px; }
.T { background: greenyellow; border-radius: 50px; padding:5px 10px; }
.list ul li:nth-child(1) span {   background: greenyellow; border-radius: 50px; padding:5px 10px; margin-right: 10px; }
.list ul li:nth-child(2) span {background:blue; border-radius: 50px; padding:5px 10px; margin-right: 10px;}
.slds-icon-utility-check { margin-left: 10px;}