.border{border:1px solid red;}
.wrapper {
		max-width:760px;
		margin:0 auto;
}
.card {
		background-color:#ffffff;
		width:350px; 
		height:100px; 
		border:1px solid #D4D4D4;
		border-radius:20px;
		display:flex;
		align-items:center;
		padding:7px;
}
h1{
		color:#14364a;
font-size:29px;
}
h3 {
color:#464646;
font-size:17px;
font-weight:700;}

p {
		color:#696969;
		font-size:14px;
}

.iconbg {
		background:#F9F9FA;
		width: 97px;
    height: 90px;
    border-radius: 20px 0 0 20px;
    display: flex;
}
.icon {
		display: block;
    width: 48px;
    margin: 0 auto;
} 
.logo {
		margin: 0 auto;
    display: block;
}