.tab-container {
    border: 1px solid #ddd;
    padding: 10px;
}

.tab-headers {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab-header {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
}

.tab-header.active {
    background-color: #0070d2;
    color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}