.categoryCont{
  width:800px;
  margin:0 auto;
}
.categoryCont h2
{
   font-size:29px;
   color:#0070D2;
   margin-bottom: 20px;
}

.categoryInCont 
{
  
    border:1px #D4D4D4 solid;
    border-radius: 5px;
    padding:20px;
}


@media (max-width: 767) 
{

    .categoryCont{
        width:auto!important;
        margin:0 auto;
      }

 }